[Desktop Entry]
Name=Ninja-qPCR
Exec=/usr/bin/chromium-browser  --noerrdialogs --disable-infobars --kiosk http://localhost:8080?kiosk=true
Type=Application
