/*
html
  header.header
    Title etc.
  main.main // limit maxwidth
    div.device-monitor
      // Device monitor
    nav.panel-nav
    div.panel
      [section.section]
        header.section__header
          h2.section__title
          (div.section__header__menu)
        div.section__nav--top
          // Search, sort etc.
        div.section__body
          div.section__body__item--*
        div.section__nav--bottom
          // Pagination etc.
  footer.footer
    Contact, help etc.
*/

/* Layout params of secondary-level blocks */
.section {
  margin-bottom:1.5rem;
}
.section__header:not(:last-child),
.section__nav:not(:last-child),
.section__body:not(:last-child),
.section__body__item:not(:last-child) {
  margin-bottom:0.75rem;
  padding:0;
}

.panel {
  position:relative;
  &__menu {
    position: absolute;
    right: 0;
    top: -24px;
    text-align: right;
    
  }
}
.panel-nav {
  padding: 0 1em;
  &__back {
    display: inline-block;
    background-image: url(../img/back.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 27px;
    border: none;
    background-size: 14px 20px;
    background-color: #ffffff;
    background-position: center;
    vertical-align: middle;
    padding: 0;
    margin: 0 0.4em 0 0;
  }
  &__title {
    display: inline-block;
    font-size: 1.2em;
    vertical-align: middle;
    margin: 0;
    padding: 0;
  }
}
.section {
}

.section__header {

}
.section__title {
  font-size: $text_size_l;
}
.section__header__menu {
  float:right;
}

.section__nav {
  &--top {
    
  }
  &--bottom {
    
  }
  &--item {
    
  }
}
/* Inside section__body */
.item {

}
/* Item variants */
/* Item variant: List card */
.list-card-cell {
  padding:$box_padding;
  &--header {
    
  }
  &--item {
    
  }
  &--footer {
    
  }
  &--error {
    
  }
  &:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
  &__title {
    font-weight: bold;;
    font-size: $text_size_m;
  }
}
/* Item variant: Detail card */
.detail-card {
  &__header {
    
  }
  &__body {
    
  }
  &__footer {
    
  }
}
.item--detail-card {
}
.item--detail-card__header {
}
.item--detail-card__body {
}
.item--detail-card__footer {
}
.item--detail-card__body__content {
  padding:1em;
}
/* Item variant: Text paragraph */
.item--paragraph {

}
/* Card styles */
.item--list-card, .item--detail-card, .item--tabbed,.detail-card {
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

/* Tabbed section */
.item--tabbed {
  &__content {
    padding: 0.5em;
    display:flex;
    flex-direction:row;
    &__main {
      width:70%;
      flex-basis: 70%;
    }
    &__side {
      width:30%;
      flex-basis: 30%;
      overflow-x: scroll;

    }
    &__full {
      width:100%;
      flex-basis: 100%;

    }

  }
}
.item--tabbed__tabs {
  padding:0.5em;
}
.item--tabbed__content__side {
}
.tabs {
  width:100%;
  &--primary {
    
  }
  &--secondary {
    
  }
}
.tab-content {
  &__header {
    
  }
  &__header-menu {
    
  }
  &__body {
    padding:$box_padding;
  }
}