.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 80px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 30px;
  top: 15px;
  padding: 0 0 0 20px;
  position: relative;
}

.App-intro {
  font-size: large;
}

.bottom-border {
  border-bottom: 1px solid black;
}
.cursor-pointer {
  cursor: pointer;
}
.padding-left-25 {
  padding-left: 25px;
}
.padding-right-15 {
  padding-right: 15px;
}
