@import 'var-kiosk.scss';

@import 'style.scss';
@import 'blocks/header.scss';
@import 'blocks/protocol.scss';
@import 'blocks/protocol-editor.scss';
@import 'blocks/protocol-summary.scss';
@import 'blocks/outline.scss';
@import 'blocks/experiment-monitor.scss';
/* Layout variant for RPi kiosk */
body {
  width:1024px;
  background-image: url("../img/LCD_1024x600.png"); /* RPi LCD size checker */
  background-color:#eee;
  background-repeat: no-repeat;
}
.main {
  max-width: 100%;
}
.hidden-kiosk {
  display:none;
}
.debug {
  /* display:none; */
}
.header {
  display:none;
}
/* Panel */
.panel {
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* Layout of individual panels */
.section {
  padding:1em;
  width: 100%;
  &--dashboard {
    flex-grow:1;
    &-protocols {
      width: 50%;
    }
    &-experiments {
      width: 50%;
    }
  }
}
.protocol-summary__menu {
  display:none;
}

.device-summary {
  width:1024px;
  z-index:999;
  position:absolute;
  bottom:0;
  padding: 0.5rem;
  background-color:#ffffffaa;
}


.plate-config {
  display: flex;
  flex-direction: column;
  background-color: white;
  height:436px;
  flex-wrap: wrap;
  &__section-title {
    height:24px;
    font-size:1.2rem;
    margin:0;
    padding:0;
    line-height: 24px;
  }
  &__section {
    /* border: 1px solid red; */
    box-sizing: border-box;
    &--layout {
      order:1;
      height:124px;
      width:55%;
    }
    &--detail {
      order:3;
      height:100%;
      width:45%;
      overflow-y: scroll;
    }
    &--dilution-series {
      order:2;
      flex-grow: 1;
      width:55%;
      overflow-y: scroll;
      
    }
  }
}