$color_hoge: #ffffdd !default;

$text_size_l: 1.2rem !default;
$text_size_m: 1.1rem !default;
$text_size_s: 0.9rem !default;
$text_size_x: 0.8rem !default;

$box_padding: 0.5rem !default;
$label_spacing_h: 0.5rem !default;