$color_hoge: #ddddff !default;

$text_size_l: 1.4rem !default;
$text_size_m: 1.2rem !default;
$text_size_s: 1.0rem !default;
$text_size_x: 0.8rem !default;

$box_padding: 1rem !default;
$label_spacing_h: 1.0rem !default;